.newsletter-banner{
    background-image: url(../../../images//slider-2.webp),linear-gradient(rgb(44, 43, 43), rgb(63, 67, 71));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    height: 80vh;
}
.desc{
    height: 100vh;
}