.footer-bg{
    background-color: rgb(54, 53, 53);
    color: rgb(216, 202, 202);
}
.icon{
    font-size: 50px;
    background-color: rgb(94, 93, 93);
    color: white;
    padding: 10px;
    margin: 5px;
    transition: all 0.5s;
}
.icon:hover{
    background-color: rgb(128, 43, 224);
}
.footer-menu{
    color: whitesmoke;
    transition: all 0.5s;
}
.footer-menu:hover{
    color: rgb(128, 43, 224);
}